@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    padding: 7px;
    background-color: #2C373D;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33px;
}

.left img {
    margin: 0 10px;
    width: 149px;
    height: 44px;
}

.right {
    margin: 0 10px;
    border: 2px solid green;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    font-weight: bold;
    list-style-type: none;
    color: #FFFFFF;
}

ul li:hover {
    list-style-type: none;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #FE8078;
}

ul a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 91.6vh;
}

.intro {
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #2C373D;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    width: 40vw;
    height: 75vh;
}

.introHeading {
    font-family: 'Montserrat', sans-serif;
}

.introName {
    color: #FE8078;
    font-family: 'Dancing Script', cursive;
    font-size: 21px;
}

.introAdditional{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.introDesc {
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    height: 2vh;
    font-family: 'Rajdhani', sans-serif;
}

.introImg {
    /* border: 2px solid green; */
    width: 25vw;
    height: 75vh;
    padding: 3px;
}

.introImg img {
    width: 25vw;
    height: 80vh;
    margin-top: -3vh;
}

.btn-intro {
    margin: 10px 0px;
}

.btn {
    margin-left: 7px;
    padding: 3px;
    color: #2C373D;
    border-radius: 33px;
    height: 25px;
    width: 10vw;
    border: 1px solid #EE403E;
    background-color: #EE403E;
}

.btn:hover {
    color: white;
    border-radius: 33px;
    height: 25px;
    width: 10vw;
    background-color: #933547;
    border:1px solid  #933547;
}